{% raw %}{# Template for a config file. Context object name: config #}
{{ '{%' }} from "{{ cookiecutter.formula_name }}/map.jinja" import {{ cookiecutter.formula_name|replace('-', '_') }} with context {{ '%}' }}
[section]
{% for key, value in config.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endraw %}
